/* nav */

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
    font-size: 12px;
    font-weight: bold;
}

.navbar .container .logo-wrapper {
    display: flex;
    align-items: center;
}


.primary-nav {
    display: flex;
    align-items: left;
    gap: 20px;
    justify-content: space-between;
}

.secondary-nav {
    display: flex;
    align-items: right;
    gap: 20px;
    justify-content: space-between;
}


.navbar .container ul li a {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.navbar .container {
    display: flex;
    width: 100%;
    max-width: 80%;
    justify-content: space-between;
    align-items: center;
}


/* Resets */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}
 
/* global html and body styles */

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 1.6rem;
    color: rgba(0,0,0,.87);
    line-height: 1.5;
}

/* headings 

h1, h2, h3, h4 {
    font-weight: 600;
}

h1 {
    font-size: 3.6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.9rem;
}
*/ 

/* links */


a {
    color: #00a862;
    text-decoration: underline;
}


/* buttons */

.btn {
    border: 1px solid rgba(0,0,0,.87);
    border-radius: 5rem;
    padding: 0.7rem 1.6rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #000;
    align-self: flex-start;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.2;
}

.btn-primary {
    background-color: #008248;
    border: 1px solid #008248;
}

.btn-secondary {
    color: rgba(0,0,0,.87);
    background-color: #fff;
} 

/* svgs */

.logo {
    height: 50px;
    width: 47px;
}

.locate {
    height: 19px;
    width: 19px;
    color: #212121;
}
