/* nav */

.navbar {
    display: flex;
    align-items: center;
    height: 10rem;
    justify-content: center;
}

.navbar .container .logo-wrapper {
    display: flex;
    align-items: center;
}


.primary-nav {
    display: flex;
    gap: 5rem;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.secondary-nav {
    display: flex;
    gap: 5rem;
    align-items: center;
}


.navbar .container {
    display: flex;
    width: 100%;
    max-width: 94%;
    justify-content: space-between;
    align-items: center;
}


/* Resets */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}
 
/* global html and body styles */

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 1.6rem;
    color: rgba(0,0,0,.87);
    line-height: 1.5;
}

/* headings */ 

h1, h2, h3, h4 {
    font-weight: 300;
    text-align: left;
    padding-left: 5%;
}

h1 {
    font-size: 3.6rem;
    text-transform: uppercase;
    
}

h2 {
    font-size: 1.9rem;
}

h3 {
    font-size: 2rem;
}


/* links */


a {
    color: #00a862;
    text-decoration: underline;
}

.nav-link {
    color: rgba(0,0,0,.87);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6rem;
}

.locate-link {
    color: rgba(0,0,0,.87);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    gap: 1.2rem;
}

.active {
    padding-bottom: 3.6rem;
    border-bottom: #008248 solid 0.5rem;
}

.join {
    color: #000;
}


/* buttons */


.btn {
    border: 1px solid rgba(0,0,0,.87);
    border-radius: 5rem;
    padding: 0.7rem 1.6rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #000;
    align-self: flex-start;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.2;
}

.btn-primary {
    background-color: #008248;
    border: 1px solid #008248;
}

.btn-inverse {
    color: rgba(0,0,0,.87);
    background-color: #fff;
} 

.nav-btn {
    display: flex;
    gap: 1.6rem;
}

.btn-hero {
    background-color: #008248;
    border: 1px solid #008248;
    border-radius: 5rem;
    padding: 0.7rem 1.6rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    align-self: flex-start;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.2;
}

/* svgs */

.logo {
    height: 50px;
    width: 50px;
}

.locate {
    height: 19px;
    width: 19px;
    color: #212121;
}

.reward-banner {
    background-color: #1e3832;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 12%), 0 0 2px 0 rgb(0 0 0 / 24%);
}

.reward-banner-heading {
    margin-left: 13.1rem;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* hero section */

.hero {
    background-color: #d4e8e1;
    background-image: url(starbucks-hero-banner.jpeg);
    background-position: 50%;
    background-size: auto 100%;
    height: 80rem;
    width: 100%;
  }

  .hero {
    position: relative;
    text-align: center;
    color: #000;
  }

  .hero-section {
    position: absolute;
    bottom: 350px;
    left: 8px;
    justify-content: center;
 }

